<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>BLZ: Recommendations Engine</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background: #59269bc5">
 <div class="login">
	<h1>Berliner Zeitung: Recommendation's Engine.
              (v. 2.0.) 
              
  </h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="DocId" placeholder="DocId" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Prediction</button>
    </form>

   <br>
   <br>
   <a href = {{prediction_text1}}> Recommendation 1 </a>
   <a href = {{prediction_text2}}> Recommendation 2 </a>
   <a href = {{prediction_text3}}> Recommendation 3 </a>
   <a href = {{prediction_text4}}> Recommendation 4 </a>
   <a href = {{prediction_text5}}> Recommendation 5 </a>
   <h2> Articles exclusion form:
   </h2>

   <form action="http://127.0.0.1/exclusion_form" method = "POST">
    <label for="fname">Exclude article:</label><br>
    <input type="text" name="DocId" placeholder="DocId" required="required">
    <input type="submit" value="Submit">
  </form> 

  <form action="http://127.0.0.1/inclusion_form" method = "POST">
    <label for="fname">Include article:</label><br>
    <input type="text" name="DocId" placeholder="DocId" required="required">
    <input type="submit" value="Submit">
  </form> 
 </div>

<div class="upload">
 <form action = "http://127.0.0.1/uploader" method = "POST" enctype = "multipart/form-data">
     <input type = "file" name = "file" />
     <input type = "submit"/>
 </form>
</div>
</body>
</html>
